#--------------- System ---------------#
alias ds='cd ~/Desktop/'
alias proxy='export http_proxy="http://amr.kayid:<P@55w0rd>@50.0.0.5:8080/"; export https_proxy="http://amr.kayid:<P@55w0rd>@50.0.0.5:8080/"; export ftp_proxy="http://amr.kayid:<P@55w0rd>@50.0.0.5:8080/";'


#--------------- git ---------------#
alias gi='git init && cp /Users/amrmkayid/.gitignore . &&  touch README.md && git add . && git commit -m "Initial commit"'


#--------------- Python ---------------#
alias py3='/Users/amrmkayid/.pyenv/shims/python3'


#--------------- Web Development ---------------#
alias nawwar='nodemon --exec npm run dev'
alias nawwarBack='nodemon --exec npm run devBack'
